/* Selectors in HTML */

h1 {
    font-family: 'Inter Tight', sans-serif;
    color: black;
    font-weight: 500;
}

h2 {
    font-family: 'Inter Tight', sans-serif;
    color: black;
    font-weight: 250;
}

p {
    font-family: 'Inter Tight', sans-serif;
}

html, body{
    background-color: aliceblue;
}

/* Text Alignment in HTML */

#l-align {
    text-align: left;
    border: 1px solid black;
    /* to set the border*/
}

#c-align-header {
    text-align: center;
    border: 3px solid black;
    /* to set the border*/
}

#c-align {
    text-align: center;
}

#r-align {
    text-align: right;
    border: 1px solid black;
    /* to set the border*/
}

.bg-h1 {
    background-color: #2D4B65;
    color: white;
}

.bg-para {
    background-color: #B0C6CF;
}
