/* Selectors in HTML */

h1 {
    font-family: 'Inter Tight', sans-serif;
    color: black;
    font-weight: 500;
}

h2 {
    font-family: 'Inter Tight', sans-serif;
    color: black;
    font-weight: 350;
}

h3 {
    font-family: 'Inter Tight', sans-serif
}

p {
    font-family: 'Inter Tight', sans-serif;
}

html, body{
    background-color: #F6F6F2;
}

/* Text Alignment in HTML */

#header-box {
    border: 2px solid black;
    /* to set the border*/
}

#c-align-header {
    text-align: center;
}

#c-align {
    text-align: center;
}

#r-align {
    text-align: right;
    border: 1px solid black;
    /* to set the border*/
}

.bg-h1 {
    background-color: #badfe7;
}

.bg-para {
    background-color: aliceblue;
}



.pure-u-1-3 {
    width: 100vw;
    margin-top: 30px;
    height: 33vw;
}

.pure-u-2-3 {
    width: 100vw;
    margin-top: 30px;
    height: 33vw;
}

.pure-u-8-24 {
    width: 100vw;
    margin-top: 30px;
    height: 22vw;
}

.pure-u-16-24 {
    width: 100vw;
    margin-top: 30px;
    height: 22vw;
}

.pure-u-1 {
    width: 100vw;
    margin-top: 30px;
    height: 9vw;
}

.pure-u-1-1{
    width: 100vw;
    margin-top: 30px;
    height: 30vw;
}

.pad-box {
    padding: 2em;
}